# Node.js files
node_modules/

vercel.json

.env

# # Deno files
# deno.lock
# deno.json

# # Log files
# *.log

# # Temp files
# *.tmp

# # IDE files
# .vscode/
# .idea/

# # Other files
# .env
# .env.example